{% extends 'WABoBundle::layout.html.twig' %}

{% block content -%}
    <h1>Comments creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comments') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
